<%= form_for(@bank) do |f| %>
  <% if @bank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bank.errors.count, "error") %> prohibited this bank from being saved:</h2>

      <ul>
      <% @bank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :volume %><br>
    <%= f.number_field :volume %>
  </div>
  <div class="field">
    <%= f.label :high %><br>
    <%= f.text_field :high %>
  </div>
  <div class="field">
    <%= f.label :low %><br>
    <%= f.text_field :low %>
  </div>
  <div class="field">
    <%= f.label :war %><br>
    <%= f.text_field :war %>
  </div>
  <div class="field">
    <%= f.label :window_borrowing %><br>
    <%= f.number_field :window_borrowing %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
