<h1>Listing stock_quotes</h1>

<table>
  <thead>
    <tr>
      <th>Security</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stock_quotes.each do |stock_quote| %>
      <tr>
        <td><%= stock_quote.security %></td>
        <td><%= link_to 'Show', stock_quote %></td>
        <td><%= link_to 'Edit', edit_stock_quote_path(stock_quote) %></td>
        <td><%= link_to 'Destroy', stock_quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stock quote', new_stock_quote_path %>
